/*========= Main Body Properties ==========*/
body {
    background-image:url("../images/background2.jpg");
    background-repeat:repeat;
    background-position: fixed;
    width:auto;
    height: 100%;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
/*======== Header Properties ============*/
#page-header{
    background-image:url("../images/header.jpg");
    text-align: center;
    color:white;
}
.jumbotron {
    padding-top:30px;
    padding-bottom: 30px;
}
/*======== Image Properties =============*/
img{
    width:150px;
    height: 150px;
}
/*======== Div Image Properties ===============*/
.topicsDiv{
    float: left;
    margin: 5px;
    border:2px solid black;
    text-align: center;
    background:black;
    color: white;
}
/*======== Button Properties ============*/
.btn {
    margin: 5px;
    display: inline;
    background: darkred;
    border: 2px solid gray;
}
.btn:hover {
    background: gray;
}
.btn-block {
    width:150px;
}

/*======== Media Queries ================*/
@media screen and (max-width: 680px) {
    body {
        display: block; 
    }
    .container{
        margin: 0 auto;
    }
    .topicsDiv img{
        float:none;   
    }
   
}