/*========= Main Body Properties ==========*/
body {
    background-image:url("../images/background2.jpg");
    background-repeat:repeat;
    background-position: fixed;
    width:auto;
    height: 100%;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
/*======== Header Properties ============*/
#page-header{
    background-image:url("../images/header.jpg");
    text-align: center;
    color:white;
}
.jumbotron {
    padding-top:30px;
    padding-bottom: 30px;
}
/*======== Image Properties =============*/
img{
    width:150px;
    height: 150px;
}
/*======== Div Image Properties ===============*/
.topicsDiv{
    float: left;
    margin: 5px;
    border:2px solid black;
    text-align: center;
    background:black;
    color: white;
}
/*======== Button Properties ============*/
.btn {
    margin: 5px;
    display: inline;
    background: darkred;
    border: 2px solid gray;
    font-size:12px;
}
.btn:hover {
    background: gray; 
}
.btn-block {
    width:125px;
    text-align: center;
}

/*======== Text Box Properties ==========*/
#topic-input {
    width:150px;
}
#form-group .btn-block {
    width:125px;
    text-align: center;
}

/*======== Media Queries ================*/
/*=== Tablet Media Query ===*/
@media screen and (max-width: 786px){
    body {
        display: block;  
    } 
}
/*=== Phone Media Query ===*/
@media screen and (max-width: 686px) {
    body {
        display: block; 
    }

    .container{
        margin: 0 auto;
    }

    .topicsDiv img{
        float:none;  
    }

    .topicsDiv {
        margin-left:15px;
        margin-right:5px;
    } 
    .btn {
        margin-left:25px;
    }
    .btn-block {
        width:125px;
    }
    input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
        width: 125px;
        display: block;
        margin-left: 120px;
    }
}